
<div id="contact-us">{{#each data.usa}}
  <div class="row">
    <div class="contact"><span> <img src="http://www.archltgworks.com/source/images/team/{{t_image}}"/></span><span>{{t_name}}</span><span>{{{t_position}}}</span><span>{{t_phone}} (Ph)</span><span>{{t_fax}} (FX)</span><span> <a href="mailto:{{t_email}}">Email {{name}}</a></span></div>
  </div>{{/each}}
</div>